*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
providers.json
app/src/main/java/com/kuroanime/extension/AnimeFlvExtension.kt
app/src/main/java/com/kuroanime/extension/TioAnimeExtension.kt
app/src/main/java/com/kuroanime/extension/LatanimeExtension.kt
app/src/main/java/com/kuroanime/extension/AniyaeExtension.kt
